#promoModal {
    backdrop-filter: blur(10px);
  .modal-body {
    padding: unset;
  }
  .modal-content {
    overflow: hidden;
    border-radius: 10px;
  }

  .promo-item {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 800px;
    @media (min-width: 800px) and (orientation: landscape) {
      flex-direction: row;
      height: 30rem;
      max-height: 350px;
      justify-content: space-evenly;
    }
  }

  .promo-item__photo-container {
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    @media (min-width: 800px) and (orientation: landscape) {
      height: 100%;
      flex: 1;
     }
    }

  .promo-item__text {
    @media (max-width: 400px) and (orientation: portrait) {
      height: 50vh;
    }
    position: relative;
    background-color: $color-5;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: $font-mont;
    color: $color-3;
    font-size: clamp(14px, 2.5vw, 16px);
    padding: 10px;
    text-align: center;
    height: 45vh;
    @media (min-height: 650px) and (orientation: landscape) {
      height: 40vh;
    }
    @media (min-width: 800px) and (orientation: landscape) {
      flex: 1;
      height: unset;
    }
    h2 {
      font-size: clamp(28px, 3.5rem, 36px);
      font-weight: 900;
      font-family: inherit;
      color: inherit;
    }
      .percentage {
        position: relative;
        background: #4a5b5c;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        span {
          color: $color-5;
          font-weight: 900;
          font-size: 24px;
        }
      }
    .promo-item__validity {
      font-size: 12px;
    }
    
  }
}

.carousel-inner {
  .btn-close-modal {
    top: 15px;
    right: 15px;
    font-size: 16px;
    color: $color-5;
    @media (min-width: 800px) and (orientation: landscape) {
      color: $color-3;
    }
  }
  .btn-action {
    width: auto;
    min-width: 220px;
    max-width: 320px;
    font-size: clamp(16px, 3vw, 20px);
  }
}

.carousel-indicators {
  bottom: -20px;
}


