<%= content_for :meta_description, 'Serviciile medicale oferite de Clinica Spinal Care din Bacău: consultații, tratamente, spitalizare de zi' %>
<div class="medical-services-public" data-controller="masonry">
  <%#= render partial: "specialty_prices_nav" %>
  <%#= render partial: "admin/medical_services/medical_services" %>
  <%= render partial: "render_medical_services", locals: { sps: @specialties} %>
</div>