<div class="medical-services-public">
  <!-- <h1>Ai nevoie de un sfat? <%#= action_btn("Sună acum!", 'btn-custom', 'btn-nude') %></h1> -->
  <%= render partial: "admin/medical_services/medical_services" %>
</div>