#medic-form {
  display: none;
}
#medic-form.trigger {
  display: block;
  opacity: 0;
  transition: 1s;
}
#medic-form.active {
  opacity: 1;
}

.form-kineto {
  fieldset {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: .5rem;
  }
}