.btn-nude {
  background: none;
  border: none;
}

.btn-clear {
  background-color: #cd181800 !important;
  border: none !important;
}

.btn-custom {
  color: $color-1;
  border: none;
  box-shadow: 0 0 5px $color-1-40;
  background-color: $white-spinal;
  border-radius: 5px;
  padding: 5px 15px;
  text-decoration: none;
}

.btn-crud {
  border: none;
}

.btn-red {
  color: rgb(111, 0, 0);
  &:hover {
    color: white;
    background-color: red;
  }
}
.btn-green {
  color: green;
  &:hover {
    color: white;
    background-color: green;
  }
}

.box-shadow {
  box-shadow: 0 0 5px $color-1-40;
}

.btns-icon {
  position: absolute;
  background-color: #fff0;
  font-size: 35px;
  color: #bcb285;
  padding: 0;
  border: none;
}
.btns__b-d {
  border: 1px solid #29332b50;
  padding: 3px 12px;
  border-radius: 4px;
}
.btns-close {
  bottom: 0px;
  right: 15px;
}

.btn-close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn-action {
  color: $color-5;
  // background-color: $color-3;
  width: 100%;
  max-width: 380px;
  font-size: clamp(16px, 4vw, 28px);
}

.btn-color {
  color: $btn-font-color;
}
.btn-color-5 {
  color: $color-5;
  &:hover {
    color: $color-contrast;
  }
}
.btn-drop {
  position: relative;
  background: none;
  padding: 10px 0;
  border: none;
  color: inherit;
  margin-bottom: 30px;
}

.link-to {
  position: relative;
  color: $btn-font-color;
  text-decoration: none;
}
