.btn-clear {
  background-color: #cd181800 !important;
  border: none !important;
}

.btn-custom {
  color: $color-1;
  border: 1px solid $color-1;
  background-color: $white-spinal;
  border-radius: 5px;
  padding: 5px 15px;
  text-decoration: none;
}

.btn-crud {
  border: none;
}

.btn-red {
  color: red;
  &:hover {
    color: white;
    background-color: red;
  }
}
.btn-green {
  color: green;
  &:hover {
    color: white;
    background-color: green;
  }
}
