// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;



$color-1: #1c2b33;
// 29332b initial color
$color-1-90: #1c2b33ac;
$color-1-40: #29332b50;
$color-1-dd: #29332bdd;
// $color-2: #bcb285;
// $color-2: #88815f;
// $color-2: #8e7f37;
// $color-2: #9e8405;
$color-2: #bab28a;
$color-3: #4a5b5c;
$color-3-60: #4a5b5c60;
$color-3-90: #4a5b5cdd;
$color-contrast: #fff;

// dark jungle green
$color-4: #17211A;
// body color
$color-5: #fff6d3;
$color-5-90: #fff6d3aa;
$html-color: #aaac91;

$d-sh-box: drop-shadow(4px 4px 10px #00000020);
$d-sh-img: drop-shadow(4px 4px 10px #00000040);

