// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;



$color-1: #29332b;
$color-1-90: #29332bee;
$color-2: #bcb285;
$color-3: #4a5b5c;
$color-contrast: #fff;
