.color-1 {
  color: $color-1;
}
.color-2 {
  color: $color-2;
}
.color-3 {
  color: $color-3;
}
.color-contrast {
  color: $color-contrast;
}

.bg-color-1 {
  background-color: $color-1 !important;
}

.bg-color-2 {
  background-color: $color-2;
}

.bg-color-3 {
  background-color: $color-3;
}

.bg-color-5 {
  background-color: $color-5;
}

$min-height: calc(var(--vh) * 93);

a:link {
  text-decoration: none;
}


