.medical-team {
  position: relative;
  grid-area: 1/1/-1/-1;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  display: grid;
  gap: 70px;
  align-content: center;
  width: 90%;
  margin: 0 auto;
  padding: 130px 0;
  #medical-team__no-answer {
    text-align: center;
    font-size: clamp(24px, 2em, 30px);
    font-weight: 600;
    p {
      color: $color-3;
    }
  }
  [data-bs-target="#filterModal"] {
    top: 50px;
  }
  .member-index {
    grid-area: auto !important;
  }
  .modal {
    background-color: $color-1-40;
  }
  .modal-content {
    color: $color-1;
    background-color: $color-2;
    border-radius: 5px;
    .modal-header {
      border: none;
    }
    .modal-body {
      padding: 0;
      background-color: $color-3;
      border-radius: 0 0 5px 5px;
    }
  }
  #filter-proffesion-form,
  #filter-specialty-form,
  #filter-name-form {
    display: block;
    position: relative;
    background-color: $color-3;
    color: $color-2;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    fieldset {
      width: 100%;
      margin: 0 auto;
      padding: 20px;
      legend {
        display: none;
      }
    }
  }
  #filter-specialty-form, #filter-name-form {
    display: none;
  }
  #filter-name-form {
    padding: 20px 10px 40px;
  }
}



.error-messages {
  position: relative;
  top: 20px;
  width: 100%;
  text-align: center;
  font-family: $font-mont;
  color: $color-1;
  z-index: 1000;
  grid-area: 1 / 1 / 2 / -1;
  h3 {
    font-family: $font-mont;
    font-weight: 900;
    color: inherit;
  }
  .escape-btns {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 15px;
    a {
      font-size: 24px;
    }
  }
}