@mixin custom-form {
  display: grid;
  position: relative;
  justify-items: center;
  align-items: center;
  grid-template-columns: 5fr 1fr;
  gap: 10px;
  border-radius: 7px;
  padding: 10px 30px;
  border: 1px solid $grey-spinal;
}

@mixin shape-svg {
  position: relative;
  grid-area: 1 / 1 / 8 / 25;
  background-color: #ffffff00;
  max-width: 100%;
  filter: $d-sh-img;
  @media (min-width: 540px) and (min-height: 375px) and (orientation: landscape) {
    grid-area: 1 / 14 / 15 / 25;;
  }
  @media (min-width: 950px) and (min-height: 542px) and (orientation: landscape) {
    grid-area: 3 / 14 / 15 / 25;
  }
}

@mixin landing-images {
  position: relative;
  grid-area: 3 / 3 / 13 / 23;
  background-color: $color-contrast;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  animation: anim-main-image 2s;
  img {
    min-height: 100%;
    width: 100%;
  }
  @media (min-width: 540px) and (min-height: 375px) and (orientation: landscape) {
    grid-area: 3 / 14 / 20 / 24;
  }
  @media (min-width: 950px) and (min-height: 542px) and (orientation: landscape) {
    grid-area: 4 / 14 / 20 / 24;
  }
}

@mixin mottos {
  position: relative;
    grid-area: 16 / 1 / 24 / 25;
    font-size: clamp(20px, calc(var(--vh) * 2), 36px);
    -webkit-animation: main-motto 2s;
    animation: main-motto 2s;
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    filter: $d-sh-box;
    p {
      display: block;
      color: $color-1;
      min-height: fit-content;
      border-radius: 20px;
      text-align: center;
      font-family: $font-mont;
      font-weight: 900;
      font-size: inherit;
      &:nth-child(2) {
        font-size: .6em;
      }
      span {
        color: $color-2;
      }
    }
    @media (min-width: 540px) and (min-height: 375px) and (orientation: landscape) {
      font-size: clamp(17px, calc(var(--vh) * 4), 36px);
      grid-area: 7 / 1 / 20 / 13;
      align-self: center;
    }
}
