<% if access %>
  <div class="admin-elements-container">
    <%= render partial: "admin/admin_content/professions" %>
    <%= render partial: "admin/admin_content/specialties" %>
  </div>
<% else %>
  <%= no_access %>
<% end %>