<div class="personal-container">
  <div class="personal-form">
    <%= render 'members/form' %>
  </div>
    <div class="personal-index">
      <% @members.each do |m| %>
        <div class="personal-member">
          <p><%= m.last_name %> <%= m.first_name %> </p>
        </div>
      <% end %>
    </div>
</div>