<div class="professions-main section-main">
  <h1>Profesii</h1>
    <%= link_to "#", data: { bs_toggle: "modal", bs_target: "#newProfessionModal"  }, aria_label: 'Activează formularul pentru o profesie nouă', class: 'btn-nude btn-action btn-custom mb-5'  do %>
      <p style="text-align: center;">Adaugă profesie nouă</p>
    <% end %>
  <%= render partial: "professions/modal", locals: {new: true, modal_id: 'newProfessionModal', profession: @profession} %>
  <div class="professions-index admin-elements">
    <%= render Profession.order(order: :asc) %>
  </div>
</div>