<% if access %>
  <div class="specialties-main section-main">
    <h1>Specialități medicale</h1>
    <p>*pentru editare completă apasă <i class="fa-solid fa-pen-nib"></i></p>
    <div>
      <%= link_to "#", data: {bs_toggle: "modal", bs_target: "#newSpecialtyModal"} do %>
        Adaugă specialitate medicală nouă
      <% end %>
    </div>
    <%= render partial: "specialties/modal", locals: {new: true, modal_id: "newSpecialtyModal", specialty: @specialty} %>

    <div class="admin-elements specialties-index">
      <%= render @specialties %>
    </div>
  </div>
<% else %>
    <%= no_access %>
<% end %>

