<div class="admin-menu" data-sidemenu-toggle-target="toggle">
  <p id="admin-menu-title">App admin</p>
  <div class="admin-menu-index">
    <p><%= link_to 'Configurări', dashboard_path %></p>
    <p><%= link_to 'Personal', dashboard_personal_path %></p>
    <p><%= link_to 'Profesii', dashboard_profesii_path %></p>
    <p><%= link_to 'Recenzii' %></p>
  </div>
</div>