<div class="admin_navbar" data-sidemenu-toggle-target="toggle">
  <p>Spinal Care App</p>
  <i class="fas fa-bars" style="margin: 0 0 0 auto;
  padding: 0 20px 0 0; cursor: pointer;" data-action="click->sidemenu-toggle#toggle"></i>
</div>