<p id="before-nav" class="relative bg-cl-navbar text-cl-txt-light text-lg pl-[1rem] py-[.5rem] sm:text-center md:text-left z-1 font-normal">
  Programări & info: <a href="tel:0374554344", class="text-inherit hover:text-white">0374554344</a>
  <%= link_to 'https://www.facebook.com/SpinalCareBacau', class: 'text-inherit hover:text-white' do %>
    <i class="fab fa-facebook-square"></i>
  <% end %>
  <%= link_to 'https://www.instagram.com/spinalcarebacau', class: 'text-inherit hover:text-white' do %>
    <i class="fab fa-instagram-square"></i>
  <% end %>
</p>