<footer>
  <div class="footer-up">
    <%= image_tag('logo2-color.png', alt: 'logo spinal care') %>
    <p>&copy; 2016-<%= Time.now.year %></p>
  </div>
  <%= render "shared/footer/contact_cards" %>
</footer>