<div class="modal" id="gdpr-modal" tabindex="-1" data-controller="gdpr" data-gdpr-target="acceptModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <p><b>La spinalcare.ro</b> luăm foarte în serios confidențialitatea dumneavoastră. Dorim să vă informăm că nu colectăm cookie-uri.</p><br>
          <p>Ce înseamnă acest lucru pentru dumneavoastră?</p><br>
          <p><b>Confidențialitate</b><br> Activitățile dumneavoastră online nu sunt urmărite prin cookie-uri pe site-ul nostru. Nu colectăm informații despre obiceiurile dumneavoastră de navigare.</p> <br>
          <p><b>Securitate îmbunătățită</b><br>Informațiile dumneavoastră personale sunt în siguranță la noi. Nu utilizăm cookie-uri pentru a stoca date sensibile, asigurându-vă o experiență de navigare sigură.</p><br>
          <p><b>Experiență simplificată</b><br>Deși poate că nu oferim conținut personalizat pe baza vizitelor anterioare, credem în furnizarea unei experiențe consistente și de încredere tuturor utilizatorilor noștri.</p><br>
          <p>Nu va trebui să vă ocupați de notificări sau setări legate de preferințele cookie-urilor atunci când vizitați site-ul nostru.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="accept-btn" data-gdpr-target="acceptBtn" data-action="click->gdpr#acceptGdpr">Am înțeles!</button>
      </div>
    </div>
  </div>
</div>



