<div class="no-access" style="background-image: url('<%=image_url('no-access.png')%>')">
  <h1>Nu aveți drepturi de administrare!</h1>
  <p>Înapoi la <%= link_to 'pagina publică', root_path %></p>
</div>