<div class="sidecover" data-sidemenu-toggle-target="toggle" style="background-image: url('<%= cl_image_path(bkg_photo, :quality=>80, :width=>1200, :crop=>"scale") %>');">
  <div class="sidecover-green-cover"></div>
</div>