<div class="professions-main section-main">
  <h1>Profesii</h1>
  <div>
    <%= link_to "#", data: { bs_toggle: "modal", bs_target: "#newProfessionModal" } do %>
      Adaugă profesie nouă
    <% end %>
  </div>
  <%= render partial: "professions/modal", locals: {new: true, modal_id: 'newProfessionModal', profession: @profession} %>
  <div class="professions-index admin-elements">
    <%= render @professions %>
  </div>
</div>