<%= simple_form_for @specialty do |f| %>
<%= f.input :name, input_html: { autofocus: true } %>
<%#= f.rich_text_area :description %>
<div class="spec-crud">
    <button class="btn-custom btn-green btn-crud"><i class="far fa-paper-plane"></i></button>
    <%= link_to dashboard_profesii_path, class: 'btn-custom btn-red btn-crud' do %>
      <i class="fas fa-ban"></i>
    <% end %>
</div>
<% end %>