<%= simple_form_for(specialty, id: (specialty.id ? dom_id(specialty, :edit) : dom_id(Specialty.new))) do |f| %>
<%= f.input :name, input_html: { autofocus: true } %>
<%= f.input :photo %>
<%#= f.rich_text_area :description %>
<div class="spec-crud">
    <button class="btn-custom btn-green btn-crud"><i class="far fa-paper-plane"></i></button>
    <%= link_to dashboard_profesii_specialitati_path, class: 'btn-custom btn-red btn-crud' do %>
      <i class="fas fa-ban"></i>
    <% end %>
</div>
<% end %>