
<%= link_to "specialitati-medicale/#{specialty.slug}", class: 'link-to-specialty' do %>
        <div class="specialty-card">
          <div class="specialty-card__cover-name">
            <%= specialty[:name] %>
          </div>
        </div>
<% end %>
