<div class="specialty-container">
  <h1><%= @specialty.name %></h1>
    <%= link_to "#", data: {bs_toggle: "modal", bs_target: "#editSpecialty#{@specialty.slug}Modal"}, class: 'btn box-shadow mb-5' do %>
      Completează datele specialității medicale
    <% end %>
    <div><%= @specialty.description %></div>
</div>
<%= render partial: "specialties/modal_form_complete", locals: {modal_id: "editSpecialty#{@specialty.slug}Modal"} %>