.about-container {
  // position: relative;
  grid-area: 1 / 1 / -1 / -1;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 150px 0;
  color: $color-2;
  font-weight: 100;
  font-size: 1.2em;
  text-align: center;
  font-family: $font-mont;
  justify-content: center;
  background: #4a5b5c70;
  padding: 100px 100px 300px;
  border-radius: 20px;
  z-index: 2;
  #about-container__link-back {
    position: absolute;
    top: 5%;
  }
  a, h1 {
    color: inherit;
    font-family: inherit;
  }
  .about-container__specialty {
    position: relative;
    text-align: left;
    z-index: 1;
  }
  #about-container__specialty__wave {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
}