.about-specialty-container {
  grid-area: 1 / 1 / -1 / -1;
  display: flex;
  flex-flow: column;
  width: 100%;
  gap: 150px 0;
  color: $color-2;
  font-family: $font-mont;
  justify-content: center;
  z-index: 2;
  padding: 0;
  min-height: $min-height;
  border-radius: 20px;
  @media(min-width: 1024px) {
    padding: 100px 100px 300px;

  }
}

.about-specialty-container__main {
  width: 90%;
  max-width: 1200px;
  margin: 70px auto;
  // background: $color-5;
  padding: 40px 30px;
  font-weight: 300;
  font-size: 1em;
  border-radius: 20px;
  box-shadow: $about-shadow;
  color: $color-3;
    @media(min-width: 1024px) {
      width: 100%;
      margin: 0 auto;
      padding: 100px;
      font-size: 1.2em;
    }
    h1 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
    .dropdown-center {
      @include drop-down-custom
    }
    #about-specialty-container__link-back {
      position: absolute;
      top: 1%;
      left: 1%;
    }
    a, h1 {
      color: inherit;
      font-family: inherit;
    }
    h1 {
      display: block;
      width: fit-content;
      position: relative;
    }
    .about-specialty-container__specialty {
      position: relative;
      text-align: left;
      z-index: 1;
      padding-bottom: 2rem;
    }
    #about-specialty-container__specialty__wave {
      position: absolute;
      width: 100%;
      bottom: 0;
      right: 0;
      z-index: 0;
      @media(min-width: 1024px) {
        width: 100%;
        left: 0;
      }
    }
}

.about-specialty-container__specialists {
  display: flex;
  flex-direction: column;
  gap: 100px;
  position: relative;
  margin-top: 100px;
  margin-bottom: 10rem;
  h2 {
    margin: 100px 0;
  }
  .about-specialty-container__specialists-index {
    position: relative;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
    z-index: 1;
    justify-content: center;
    .specialist-card {
      position: relative;
      width: 300px;
      height: 400px;
      background-size: contain;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      overflow: hidden;
      .specialist-card-info {
        position: relative;
        bottom: 0;
        text-align: center;
        background: $white-spinal;
        width: 100%;
        padding: 15px 0;
        p {
          font-size: 1.1em;
          font-weight: 700;
          &:nth-child(2) {
            margin: 0;
          }
        }
      }
    }
  }
}

.about-medical-prices {
  position: relative;
  // margin: 50px 0;
  padding: 100px 0;
    h3 {
      grid-area: 1/1/1/-1;
    }
    .medical-services-list__specialty {
      justify-self: flex-start;
    }
  }
  .medical-services-general {
    display: grid;
    font-size: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
