.all-specialties__container {
  position: relative;
  width: 100%;
  min-height: $min-height;
  grid-area: 1 / 1 / -1 / -1;
  .main-specialities {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
    @media(min-width: 1024px) {
      justify-content: unset;
    }
    .main-specialities-index {
      gap: 45px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      @media(min-width: 768px) {
        gap: 60px 25px;
      }
      @media(min-width: 768px) {
        gap: 60px 25px;
      }
      @media(min-width: 1024px) {
        gap: 10px 60px;
        align-items: center;
      }
    }
  }
}