.specialty-container {
  position: relative;
  min-height: $min-height;
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-mont;
  font-size: 1.2em;
  h1 {
    font-family: inherit;
    margin-bottom: 50px;
  }
  .specialty-form {
    position: relative;
    width: 100%;
  }
}
