<section class="beauty">
  <%= title('Beauty Eximia', 'section-title-blue__reverse', 'section-title-text__reverse') %>
  <div class="main-landing schroth-main">
    <div class="main-image">
      <%= cl_image_tag("cabinets/eximia-web_xrvdln.webp", :quality=>60, :width=>1000, :crop=>"scale")  %>
    </div>
    <div class="main-motto">
      <ul>
        <li><section class="spinal-care-description schroth-description">
          <p>
            Reducerea circumferinței în zona tratată,
            eliminarea celulitei și a pielii cu aspect de coajă de portocală, 
            stimularea circulației sanguine și a drenajului limfatic,
            o piele mai fermă și mai tonifiată sunt efectele terapiei Eximia.</p>
        </section></li>
      </ul>
    </div>
  </div>
  <div class="schroth-title"><h3>Estetică medicală</h3></div>
  <article class="beauty-specialists">
    <% @beauties.each_with_index do |m, i| %>
          <%= render partial: "members/member_card", locals: {m: m, i: i, not_animated: nil, no_grid_area: 'no_grid_area'} %>
        <% end %>
  </article>
  <div class="main-landing schroth-main">
    <div class="main-image main-image-reverse">
      <%= cl_image_tag("www.sysphotodesign.ro_219_uwbypj.webp", :quality=>60, :width=>1000, :crop=>"scale")  %>
    </div>
    <div class="main-motto main-motto-reverse">
      <ul>
        <li><section class="spinal-care-description schroth-description">
          <p>
            Visul de a pierde 7 cm în talie devine realitate cu <br>
EXIMIA HR77 PLATINUM <br>
Tehnologia noastră de ultimă generație te ajută să obții rezultate uimitoare pentru corpul tău.</p>
        </section></li>
      </ul>
    </div>
  </div>
</section>