<div class="modal" id="contact-modal" tabindex="-1" data-contact-target="contactModal">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content modal-contact-custom">
      <p id="close-contact-modal" data-action="click->contact#closeContact">&#10006;</p>
      <div class="modal-header">
        <p class="modal-title">Programează-te acum!</p>
      </div>
      <div class="modal-body">
          <%= render "shared/footer/contact_cards" %>
      </div>
    </div>
  </div>
</div>