<div class="modal fade modal-custom" id="contactModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-contact-custom">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Programează-te acum!</h1>
        <button type="button" class="btn-nude btn-close-modal btn-color-5" data-bs-dismiss="modal">&#10006</button>
      </div>
      <div class="modal-body">
        <%= render "shared/footer/contact_cards" %>
      </div>
    </div>
  </div>
</div>