<div class="second-landing">
  <%= image_tag('second-shape-1.svg', id: 'sec-shape-svg-2') %>
  <%= image_tag('second-shape-2.svg', id: 'sec-shape-svg-1') %>
  <div id="second-image">
    <%= image_tag('sec-main-photo.png') %>
  </div>
  <div id="second-motto">
    <p>"Fiecare <span>pacient</span> care pleacă cu <span>zâmbetul pe buze</span> ne face să ne simțim <span>împliniți</span>"</p>
    <p>Laura Neagu, kinetoterapeut</p>
  </div>
</div>