<div class="main-landing">
  <%= image_tag('shape-svg-1.svg', id: 'shape-svg-1', data: { controller: "animation", action: 'scroll@window->animation#svgscroll' }, alt: "spinal care") %>
  <%= image_tag('shape-svg-2.svg', id: 'shape-svg-2', data: { controller: "animation", action: 'scroll@window->animation#svgscroll' }, alt: "spinal care") %>
  <div id="main-image", data-controller="animation" ption="scroll@window->animation#svgscroll">
    <%= image_tag('0236.png', alt: "spinal care")  %>
  </div>
  <div id="main-motto" data-controller="animation" data-action="scroll@window->animation#svgscroll">
    <p><span>"Spinal Care</span> este împlinirea <span>visului</span> unui tânăr care și-a dorit <span>o lume fără durere"</span><br><span id="signature">conf. univ. dr. kt. Lucian Dobreci, fondator</span></p>
  </div>
</div>