<div class="main-landing">
  <div class="landing-image" id="landing-image" data-controller="landingimage">
  </div>
  <div class="landing-motto">
    <ul>
      <li><section class="spinal-care-description">
        <p id="landing-image-description"></p>
      </section></li>
      <li><%= action_btn('Ai nevoie de un sfat?', 'btn-action btn-long', 'btn-action__reverse') %></li>
    </ul>
  </div>
</div>