<div class="main-info">
  <p><span>Clinica Spinal Care</span> este una din puținele clinici de recuperare din România care are <span>specialiști</span> recunoscuți internațional în <span>Terapia Schroth</span>, una din cele mai eficiente metode de tratare a <span>deviațiilor de coloană și torace</span></p>
</div>