<div class="main-specialities">
<% if current_page?(controller: 'pages', action: 'home') %>
<%= title('Specialități', 'section-title-blue', 'section-title-text') %>
<% end %>

  <div class="main-specialities-index">
    <% @specialties.each_with_index do |sp, i| %>
      <%= link_to "specialitati-medicale/#{sp.slug}" do %>
        <div class="specialty-card">
          <div class="specialty-card__cover-name">
            <%= sp[:name] %>
            <%# sp[:name].split(Regexp.union([' ', '-']), 3).each do |w| %>
              <%#= tag.p(w) %>
            <%# end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if current_page?(controller: 'pages', action: 'home') %>
  <div class="main-landing schroth-main">
    <div class="main-image">
      <%= cl_image_tag("cabinets/www.sysphotodesign.ro_148_qun3b7.webp", :quality=>60, :width=>1000, :crop=>"scale")  %>
    </div>
    <div class="main-motto">
      <ul>
        <li><section class="spinal-care-description schroth-description">
          <p>În cadrul clinicii medici experimentați sunt asistați de tehnologii avansate pentru a stabili un diagnostic cât mai exact cât și pentru a realiza un tratament cât mai eficient.</p>
        </section></li>
      </ul>
    </div>
  </div>
  <% end %>
</div>