<div class="main-landing">
  <%#= image_tag('shape-svg-1.svg', id: 'shape-svg-1', data: { controller: "animation", action: 'scroll@window->animation#svgscroll' }, alt: "spinal care") %>
  <%#= image_tag('shape-svg-2.svg', id: 'shape-svg-2', data: { controller: "animation", action: 'scroll@window->animation#svgscroll' }, alt: "spinal care") %>
  <div id="main-image", data-controller="animation" ption="scroll@window->animation#svgscroll">
    <%= cl_image_tag("l_dpng_Large_skikl2.webp", :quality=>"60", alt: "spinal care", :width=>400)  %>
  </div>
  <div id="main-motto" data-controller="animation" data-action="scroll@window->animation#svgscroll">
    <p>"Spinal Care este împlinirea visului unui tânăr care și-a dorit o lume fără durere"<br><span id="signature">conf. univ. dr. kt. Lucian Dobreci, fondator</p>
  </div>
</div>