<div class="main-landing landing-section">
  <div class="landing-image" id="landing-image" data-controller="landingimage">
  </div>
  <div class="landing-motto">
    <ul>
      <li><section class="spinal-care-description">
        <p id="landing-image-description"></p>
      </section></li>
    </ul>
  </div>
  <div class="absolute w-9/12 sm:w-[600px] md:w-[700px] lg:w-[960px] xl:w-[1150px] 2xl:w-[1400px] h-[12rem] sm:h-[10rem] md:h-[12rem] p-2 bg-cl-navbar top-[80dvh] left-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-2xl grid grid-cols-2 sm:grid-cols-4 items-center gap-2 max-w-[1400px]">
    <div class="text-white text-4xl md:text-5xl lg:text-6xl text-center font-bold flex flex-column">
      <%= Time.now.year - 2011 %>+ 
      <span class="text-sm md:text-base lg:text-xl xl:text-2xl font-light">ani de</span> 
      <span class="text-sm md:text-base lg:text-xl xl:text-2xl font-light">experiență</span>
    </div>
    <div class="text-white text-4xl md:text-5xl lg:text-6xl text-center font-bold flex flex-column">
      <span>95%</span> 
      <span class="text-sm md:text-base lg:text-xl xl:text-2xl font-light">dintre pacienți</span> 
      <span class="text-sm md:text-base lg:text-xl xl:text-2xl font-light">satisfăcuți</span>
    </div>
    <div class="text-white text-4xl md:text-5xl lg:text-6xl text-center font-bold flex flex-column">
      <span>10k+</span> 
      <span class="text-sm md:text-base lg:text-xl xl:text-2xl font-light">de pacienți </span> 
      <span class="text-sm md:text-base lg:text-xl xl:text-2xl font-light">tratați</span>
    </div>
    <div class="text-white text-4xl md:text-5xl lg:text-6xl text-center font-bold flex flex-column">
      <span>50+</span> 
      <span class="text-sm md:text-base lg:text-xl xl:text-2xl font-light">medici &</span> 
      <span class="text-sm md:text-base lg:text-xl xl:text-2xl font-light">kinetoterapeuți</span>
    </div>
  </div>
</div>