<section title="departamente Spinal Care" class="relative w-full py-[6rem] px-0 max-sm:mt-[3rem] mt-[10rem] 
row-span-1 row-start-3 col-span-full col-start-1">
<!-- <% if current_page?(controller: 'pages', action: 'home') %>
<%= title('Specialități', 'section-title-blue', 'section-title-text') %>
<% end %> -->

  <div title="specialitati medicale index" class="relative <%= "#{div_widths} #{gaps_for_indexes}" %>  mt-0 mb-[10rem] mx-auto grid grid-cols-[repeat(auto-fit,minmax(280px,1fr))] justify-center px-3">
    <div class="specialty-card relative rounded-2xl w-full md:w-full h-[360px] justify-self-center grid grid-cols-12 grid-rows-6 bg-white">
      <div class="specialty-name col-span-full row-span-3 row-start-3 flex items-center justify-center text-center text-4xl word-wrap font-bold self-baseline px-2 py-2">Departamente în cadrul Clinicii Spinal Care
      </div>
    </div>
    <% @specialties.each_with_index do |sp, i| %>
      <%= render partial: 'specialties/specialty_card', locals: {specialty: sp} %> 
    <% end %>
  </div>
  <%= render_feature("cabinets/www.sysphotodesign.ro_148_qun3b7.webp", "În cadrul clinicii medici experimentați sunt asistați de tehnologii avansate pentru a stabili un diagnostic cât mai exact cât și pentru a realiza un tratament cât mai eficient.", false) %>
</section>