<div class="main-landing">
  <%= image_tag('shape-svg-2.svg', id: 'shape-svg-2') %>
  <%= image_tag('shape-svg-1.svg', id: 'shape-svg-1') %>
  <div id="main-image" >
    <%= image_tag('0236.png') %>
  </div>
  <div id="main-motto">
    <p>"<span>Spinal Care</span> este împlinirea <span>visului</span> unui tânăr care și-a dorit <span>o lume fără durere</span>"</p>
    <p>conf. dr. Lucian Dobreci, fondator</p>
  </div>
</div>