<div class="main-specialists">
  <%= title('Medicii Spinal Care', nil, nil) %>
  <div class="main-specialists-index">
    <% @medics.each_with_index do |m, i| %>
      <%= render partial: "members/member_card", locals: {m: m, i: i, not_animated: nil, no_grid_area: 'no_grid_area'} %>
    <% end %>
  </div>
  <div class="home_specialists_link">
    <p><%= see_the_team %></p>
  </div>
</div>