<section class="schroth">
  <div class="section-title">
    <div class="section-title-blue">
    </div>
    <div class="section-title-text">
      <h3>Terapia Schroth</h3>
    </div>
  </div>
  <div class="main-landing schroth-main">
    <div class="main-image">
      <%= cl_image_tag("cabinets/www.sysphotodesign.ro_181_zv23ju.webp", :quality=>60, :width=>1000, :crop=>"scale")  %>
    </div>
    <div class="main-motto">
      <ul>
        <li><section class="spinal-care-description schroth-description">
          <p>Clinica Spinal Care este una din puținele clinici de recuperare din România care are specialiști recunoscuți internațional în Terapia Schroth, una din cele mai eficiente metode de tratare a deviațiilor de coloană și torace</p>
        </section></li>
      </ul>
    </div>
  </div>
  <article class="kinetos">
    <% @kinetos_to_show.each_with_index do |m, i| %>
          <%= render partial: "members/member_card", locals: {m: m, i: i, not_animated: nil, no_grid_area: 'no_grid_area'} %>
        <% end %>
  </article>
</section>