.admin_container {
  position: relative;
  width: 100%;
  min-height: calc(var(--vh) * 93);
  font-family: $font-mont !important;
  background-color: $white-spinal;
  display: flex;
    .admin-data {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      @media (orientation: landscape) {
        width: calc(100% - 200px);
        margin-left: 200px;
        min-height: calc(var(--vh) * 100);
      }
        .users-container {
          width: 100%;
        }
    }
}

.admin_navbar {
  position: relative;
  width: 100%;
  height: calc(var(--vh) * 7);
  background-color: #bcb285;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(14px, 2em, 18px);
  font-weight: 700;
  margin: 0 0 0 auto;
  .hamburger {
    .long-line,
    .short-line {
    border-bottom: 2px solid $color-1;
  }
  }
  p {
    color: $color-1;
    margin-left: 0;
  }
  @media(min-width: 768px) {
    width: 100%;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    z-index: 1;
    p {
      margin-left: 30px;
    }
  }
}

.admin_navbar.active {
  @media(min-width: 768px) {
    p {
      transition: 1s;
      margin-left: 180px;
    }
  }
}

.admin_navbar.trigger {
  transition: 1s;
}


.admin-menu {
  position: fixed;
  height: calc(var(--vh) * 100);
  width: 150px;
  top: 0;
  left: 0;
  background: $color-3;
  z-index: 1;
  padding: 30px 0;
  text-align: center;
  color: $color-5;
  transform: translateX(-200px);
  opacity: 0;
  p#admin-menu-title {
    margin-bottom: 80px;
  }
  @media(orientation: landscape) {
    width: 200px;
    transform: none;
    opacity: 1;
    height: calc(var(--vh) * 93);
    top: calc(var(--vh) * 7);
  }
}

.admin-menu.trigger {
  transition: 1s;
}

.admin-menu.active {
  opacity: 1;
  transform: translate(0);
}

.admin-menu-index {
  position: relative;
  p {
    margin: 0;
    padding: 10px;
    &:hover {
      background-color: $color-1;
    }
  }
  a {
    color: inherit;
  }
}
