

.admin_container {
  position: relative;
  width: 100%;
  min-height: calc(var(--vh) * 93);
  font-family: $font-mont !important;
  background-color: $white-spinal;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
