.admin-page {
  font-family: $font-mont;
}

.user-container {
  span {
    display: flex;
    font-family: $font-mont;
  }
  .simple_form {
    position: relative;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 20px;
  }
}
table {
  max-width: 100%;
}
th, td {
  border: 1px solid #00000005;
  text-align: center;
  max-width: 150px;
}

tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-container {
  th, td {
    width: 200px;
  }
}

h5 {
  margin: 40px 0;
}

h3 {
  text-align: center;
}
.upload-photo {
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  z-index: 31;
}

.header-opacity {
  opacity: 0;
  height: 1px;
}

input[type=file]::file-selector-button {
  border: none;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: $blue-spinal;
  color: $white-spinal;
}

.new-minicard-section {
  @media(min-width: 1024px) {
    width: 50%;
  }
}
.new-minicard-section__headers, .new-minicard-section__form {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 0 30px;
}

.minicards-index-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  @media(min-width: 1024px) {
    width: 80%;
  }
}

.minicards-index-section__headers, .minicards-index-section__form {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  gap: 0 20px;
  width: 100%;
}

.reviews-section {
  position: relative;
  margin-top: 50px;
  @media(min-width: 1024px) {
    width: 80%;
  }
}

.review-row, .reviews-edit-title {
  display: grid;
  position: relative;
  grid-template-columns: 60% 1fr 1fr 1fr 1fr;
  gap: 20px;
  overflow: hidden;
}
