@import "general";
@import "prof_spec_settings";
@import "admin_menu_navbar";
@import "personal";
@import "info_pacient";
@import "professions_redesign";
@import "specialties_redesign";
@import "personal_redesign";
@import "users_redesign";
@import "medical_services_redesign";
@import "facts_redesign";
@import "main_dashboard";
@import "analytics";
@import "analytics_enhanced";
@import "audit";
@import "specialty_services_redesign";
@import "medicines_consumption";
