.users-container {
  position: relative;
  display: grid;
  gap: 50px 0;
  grid-template-rows: 50px max-content max-content;
}

.section-main, .users-main {
  position: relative;
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
  flex-flow: column;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  grid-area: 2 / 1/ 3 / -1;
  margin-top: calc(var(--vh) * 7);
  & > h1 {
    color: inherit;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 50px 0;
  }
  @media(min-width: 1024px) {
    grid-area: 2 / 1/ 3 / 2;
  }

}

.admin-elements, #professions, #specialties, .users-index {
  position: relative;
  // display: flex;
  // flex-wrap: wrap;
  // gap: 30px 15px;
  // justify-content: space-between;
  display: grid;
  gap: 4vw;
  grid-template-columns: repeat(auto-fit, minmax(305px, 20%));
  justify-content: center;
}

.admin-element, .profession, .specialty, .user {
  position: relative;
  box-shadow: 0 0 5px $color-1-40;
  padding: 25px 15px;
  border-radius: 10px;
  font-size: 14px;
  color: $color-1;
  & > p {
    margin-bottom: 30px;
  }
  a {
    text-decoration: none;
  }
  .profession-crud, .specialty-crud {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 10px;
    gap: 0 10px;
  }
  .specialty-crud {
    .fa-pen-nib {
      &:hover {
        &:after {
          @include hover-the-icons;
          content: 'editare conținut specialitate medicală';
        }
      }
    }
    .fa-edit {
      &:hover {
        &:after {
          @include hover-the-icons;
          content: 'editare nume/foto specialitate medicală';
        }
      }
    }
    .fa-trash-alt {
      &:hover {
        color: red;
        &:after {
          @include hover-the-icons;
          content: '⚠️ link ștergere date!!!';
        }
      }
    }

  }
}

.profession-form,
.specialty-form {
  position: absolute;
  width: 300px;
  min-height: 180px;
  background: #fff;
  padding: 30px;
  z-index: 100;
  box-shadow: 0 0 5px $color-1-40;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 10px;
}

.specialties-main {
  grid-area: 3 / 1 / 4 / -1;
  @media(min-width: 1024px) {
    grid-area: 2 / 2 / 3 / 3;
  }
}

.services-main {
  grid-area: 3 / 1/ 4 / 2;
}

.spec-crud {
  margin-top: 30px;
}


.no-access {
  height: calc(var(--vh) * 100);
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: $color-3;
  color: $white-spinal;
  text-align: center;
  h1 {
    font-size: clamp(30px, 2em, 60px);
    font-family: $font-mont;
    color: inherit;
    text-align: inherit;
  }
  p {
    color: inherit;
  }
  a {
    color: $color-2;
  }
}
