<div class="profession">
  <%= profession.name %>
  <div class="profession-crud">
    <%= link_to "#", data: {bs_toggle: "modal", bs_target: "#editProfession#{profession.id}Modal"} do %>
      <i class="fas fa-edit"></i>
    <% end %>
    <%= render partial: "professions/modal", locals: {new: false, modal_id: "editProfession#{profession.id}Modal", profession: profession} %>
    <%= link_to profession_path(profession), data: { turbo_method: :delete, turbo_confirm: "Sigur ștergi profesia #{profession.slug}?"} do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>
</div>