.modal-contact-custom {
  background: $color-3;
  padding: 30px;
  border-radius: 6px;
  color: #fff6d3;
  font-size: 14px;
  letter-spacing: -0.04em;
  .contact-cards {
    flex-direction: column;
  }
  .modal-header {
    border: none;
    text-align: center;
    justify-content: center;
    font-size: 22px;
  }
  #close-contact-modal {
    text-align: end;
    cursor: pointer;
  }
}

.modal-custom {
  backdrop-filter: blur(7px);
}
