.trigger {
  transition: 1s;
}

.main {
  position: relative;
  display: grid;
  min-height: calc(var(--vh) * 93);
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: calc(var(--vh) * 93), 200px, min-content, min-content, min-content, min-content, min-content;
}

.main-landing {
  height: calc(var(--vh) * 91);
  grid-area: 1 / 1 / 2 / -1;
  position: relative;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
  padding: calc(var(--vh) * 5) 3vw;
  @media (min-width: 720px) {
    padding: calc(var(--vh) * 5) 5vw;
  }
  #shape-svg-1, #shape-svg-2 {
    @include shape-svg;
  }
  #shape-svg-1 {
    animation: anim-shape-svg-1 2s;
  }
  #shape-svg-2 {
    animation: anim-shape-svg-2 2s;
  }

  #shape-svg-1.inactive,
  #shape-svg-2.inactive {
    opacity: 0;
  }

  #shape-svg-1.inactive {
    transform: translateY(-400px);
  }
  #shape-svg-2.inactive {
    transform: translateX(-400px);
  }

  #shape-svg-1.active-svg,
  #shape-svg-2.active-svg {
    opacity: .6;
    transform: translate(0);
  }

  @keyframes anim-shape-svg-1 {
    from {
      opacity: 0;
      transform: translateY(-400px);
    } to {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes anim-shape-svg-2 {
    from {
      opacity: 0;
      transform: translateX(-400px);
    } to {
      opacity: 1;
      transform: translate(0);
    }
  }

// MAIN IMAGE

  #main-image {
    position: relative;
    grid-area: 3 / 3 / 13 / 23;
    background-color: $color-contrast;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    animation: anim-main-image 2s;
    img {
      min-height: 100%;
      width: 100%;
    }
    @media (min-width: 540px) and (min-height: 375px) and (orientation: landscape) {
      grid-area: 3 / 14 / 20 / 24;
    }
    @media (min-width: 950px) and (min-height: 542px) and (orientation: landscape) {
      grid-area: 4 / 14 / 20 / 24;
    }

  }
  #main-image.active-svg {
    opacity: 1;
    transform: translate(0);
  }
  #main-image.inactive {
    opacity: 0;
    transform: translateY(400px);
  }
  @keyframes anim-main-image {
    from {
      display: none;
      opacity: 0;
      transform: translateY(400px);
    } to {
      display: block;
      opacity: 1;
      transform: translate(0);
    }
  }
// MAIN IMAGE

// MAIN MOTTO

  .main-motto-dark {
    background-color: $color-1;
  }

  #main-motto {
    position: relative;
    grid-area: 16 / 1 / 21 / 25;
    font-size: clamp(20px, calc(var(--vh) * 2), 36px);
    animation: main-motto 2s;
    p {
      display: block;
      color: $color-1;
      background-color: $color-contrast;
      padding: 30px;
      width: 80%;
      min-height: fit-content;
      margin: -50px auto 0;
      border-radius: 20px;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-weight: bolder;
      font-size: inherit;
      &:nth-child(2) {
        font-size: .6em;
      }
      span {
        color: $color-2;
      }
    }
    @media (min-width: 540px) and (min-height: 375px) and (orientation: landscape) {
      font-size: clamp(17px, calc(var(--vh) * 4), 36px);
      grid-area: 8 / 1 / 20 / 14;
      align-self: center;
    }
  }

  @keyframes main-motto {
    0% {
      position: absolute;
      opacity: 0;
      transform: translateX(-200px);
    }
    100% {
      position: relative;
      opacity: 1;
      transform: translate(0);
    }
  }
  #main-motto.inactive {
    position: absolute;
    transform: translateX(-200px);
    opacity: 0;
  }
  #main-motto.active-svg {
    opacity: 1;
    transform: translate(0);
  }
}

// MAIN MOTTO
