.main-specialists {
  position: relative;
  grid-area: 5 / 1 / 6 / -1;
  .main-specialists-intro {
    position: relative;
    width: 100%;
    background-color: $white-spinal;
    padding: 60px 0;
    p {
      font-size: clamp(16px, calc(var(--vh) * 3.7), 48px);
      font-weight: 900;
      text-align: center;
      color: $color-1;
      padding: 20px 40px;
      span {
        color: $color-2;
      }
    }

  }
}

.main-specialists-index {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 150px 0;
  @media(min-width: 1024px) {
    gap: 40px;
  }
  .specialist-card {
    position: relative;
    width: 300px;
    height: 420px;
    overflow: hidden;
    transform: translateY(100px);
    opacity: 0;
    .specialist-card__back {
      position: relative;
      background-color: $color-2;
      width: 90%;
      margin: 0 auto;
      height: 100%;
      border-radius: 3px;
    }
    .specialist-card__photo-holder {
      position: absolute;
      width: 300px;
      height: 390px;
      top: 15px;
      left: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 3px;
    }
    .specialist-card-info {
      position: relative;
      text-align: center;
      width: 270px;
      bottom: 110px;
      margin: 0 auto;
      background-color: $color-3-90;
      padding: 5px 20px;
      font-family: $font-mont;
      font-weight: 600;
      border-radius: 3px;
      p, span {
        color: $color-contrast;
        margin: 0;
        font-size: 1.3em;
        text-shadow: 0.1px 0.1px 1px #ffffff10;
      }
      span {
        font-size: 1em;
        font-weight: 300;
      }
    }
  }
  .specialist-card.active-svg {
    transform: translate(0);
    opacity: 1;
  }
}

.home_specialists_link {
  position: absolute;
  text-align: center;
  bottom: 50px;
  right: 0;
  left: 0;
  a {
    color: $color-2;
  }
}
