.main-info {
  position: relative;
  grid-area: 3 / 1 / 4 / -1;
  background-color: $color-3;
  padding: 70px 40px;
  text-align: center;
  font-size: clamp(18px, 2vw, 34px);
  font-weight: 700;
  p {
    color: $color-2;
    span {
      color: $color-contrast;
    }
  }
}
