.second-landing {
  height: calc(var(--vh) * 70);
  grid-area: 4 / 1 / 5 / -1;
  .second-image {
    width: auto !important;
    max-width: 90% !important;
  }
  #sec-shape-svg-1, #sec-shape-svg-2 {
    @include shape-svg;
  }
  #second-motto {
    @include mottos;
    @media (min-width: 540px) and (min-height: 375px) and (orientation: landscape) {
      grid-area: 5 / 14 / 22 / 24;
      align-self: unset;
    }
    @media (min-width: 950px) and (min-height: 542px) and (orientation: landscape) {
      grid-area: 9 / 14 / span 10 / span 10;
    }
  }
}
