.main-specialities {
  position: relative;
  grid-area: 6 / 1 / 7 / -1;
  width: 100%;
  .main-specialities-intro {
    position: relative;
    width: 100%;
    background-color: $color-3;
    padding: 5vh;
    p {
      margin: 0;
      font-size: clamp(18px, 2vw, 34px);
      font-weight: 700;
      text-align: center;
      color: $color-contrast;
      span {
        color: $color-2;
      }
    }
  }
  .main-specialities-index {
    position: relative;
    display: grid;
    justify-content: center;
    padding: 100px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-flow: row;
    gap: 30px;
    max-width: 1600px;
    margin: 0 auto;
    a {
      justify-self: center;
      width: 250px;
      height: 250px;
      z-index: 100;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      .speciality-card {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: $color-contrast;
        overflow: hidden;
        .specialty-card__cover__photo {
          position: absolute;
          height: 170px;
          top: 0;
          left: 0;
          width: 100%;
          img {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            width: 50%;
            filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25));
          }
        }
        .specialty-card__cover-name {
          position: relative;
          font-family: $font-mont;
          font-weight: 600;
          font-size: 20px;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
          text-align: center;
          line-height: 21px;
          bottom: -170px;
          height: 80px;
          display: flex;
          flex-flow: column;
          align-items: center;
          justify-content: center;
          background-color: $color-contrast;
          color: $color-1;
          padding: 10px 0;
          p {
            margin: 0;
          }
        }
      }
    }
  }
  img {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
}
