.main-specialists {
  position: relative;
  grid-area: 4 / 1 / 5 / -1;
  .main-specialists-intro {
    position: relative;
    width: 100%;
    background-color: $color-3;
    padding: 5vh;
    p {
      margin: 0;
      font-size: clamp(18px, 2vw, 34px);
      font-weight: 700;
      text-align: center;
      color: $color-contrast;
      span {
        color: $color-2;
      }
    }
  }
}

.main-specialists-index {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 50px 40px;
  padding-bottom: 10em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  max-width: 1360px;
  width: 90%;
  @media (min-width: 979px) and (max-width: 1359px) {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    max-width: 800px;
  }
  .member-card {
    // justify-self: center;
    justify-self: center;
  }
}

.home_specialists_link {
  position: absolute;
  text-align: center;
  bottom: 50px;
  right: 0;
  left: 0;
  a {
    color: $color-1;
  }
}
