@import 'home_main_landing';
@import 'modern_landing_hero';
@import 'home_attractions';
@import 'home_main_info';
@import 'home_second_landing';
@import 'home_specialists';
@import 'home_specialities';
@import 'home_reviews';
@import 'home_contact_modal';
@import 'home_kinetos';
@import 'schroth';
@import 'titles';
@import 'beauty_eximia';
