<div class="error-messages">
  <h3>Probabil că linkul dvs este greșit</h3>
  <p>Iată câteva sugestii apropiate de căutarea dvs</p>
  <%= link_to 'Pagina principală', root_path, class: "btn box-shadow" %>
  <%= link_to 'Specialități medicale', specialitati_medicale_path, class: "btn box-shadow" %>
  <%= link_to 'Echipa medicală', echipa_path, class: "btn box-shadow"  %>
</div>