<% if medical_service.description.present? %>
    <%= tag.span data: { tooltip_target: 'trigger'}, class: 'tooltip-span' do %>
    <i class="fa-regular fa-circle-question"></i>
    <% end %>
    <div class="medical-service__description" data-tooltip-target="description">
      <%= medical_service.description %>
    </div>
  <% end %>