  <% if current_page?('/servicii-medicale') %>
    <div class="services-main section-main" data-controller="tooltip">
      <%= render partial: "admin/medical_services/render_medical_services" %>
    </div>
  <% elsif access && current_page?('/dashboard/servicii-medicale') %>
    <div class="services-main section-main" data-controller="tooltip">
      <div class="d-flex flex-menu">
        <% Specialty.all.sort_by {|s| s[:name]}.each do |s| %>
          <%= link_to s.name, admin_specialty_path(s), class: 'btn-custom' %>
        <% end %>
      </div>
    </div>
  <% else %>
      <%= no_access %>
  <% end %>
  

