<div class="admin-elements services-index">
  <% @specialties.select { |sp| sp.medical_services.count > 0 }.each do |sp| %>
    <div class="medical-services-list__specialty">
      <h4><%= link_to sp.name, "specialitati-medicale/#{sp.slug}" %></h4>
      <% sp.medical_services.select { |ms| ms.member == nil}.sort {|a, b| a.name <=> b.name}.each do |ms| %>
        <%= render ms %>
      <% end %>
      <% selected_and_sorted_medical_services = sp.medical_services.select { |ms| ms.member != nil }.sort {|a, b| a.member <=> b.member} %>
      <% selected_and_sorted_medical_services.each_with_index do |ms, i| %>
        <div class="medical-services-list__specialist">
          <% if i == 0 || ms.member != selected_and_sorted_medical_services[i-1].member %>
            <h5><%= link_to "#{ms.member.academic_title} #{ms.member.name}", "echipa/#{ms.member.slug}" %></h5>
          <% end %>
          <%= render ms %>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>




  <%# sp.members.select { |m| m.medical_services.count > 0 }.each do |m| %>
    <!-- <div class="medical-services-list__specialist"> -->
      <!-- <h5><%#= link_to "dr. #{m.name}", "echipa/#{m.slug}" %></h5> -->
      <%# m.medical_services.sort {|a, b| a.name <=> b.name}.each do |ms| %>
        <%#= render ms %>
      <%# end %>
    </div>
  <%# end %>