.btn-color {
  color: $btn-font-color;
}

.btn-drop {
  position: relative;
  background: none;
  padding: 10px 0;
  border: none;
  color: inherit;
  margin-bottom: 30px;
}

.link-to {
  position: relative;
  color: $btn-font-color;
  text-decoration: none;
}
