.sidecover {
  position: fixed;
  height: calc(var(--vh) * 100);
  // width: calc(100% - 300px);
  width: 100%;
  top: 0;
  transform: translateX(-100px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(1);

    @media(min-width: 768px) {
      transform: translateX(-200px);
    }
    @media(min-width: 1024px) {
      display: none;
    }
    
  left: 0;
  background-color: $color-1-90;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  
  .sidecover-green-cover {
    position: absolute;
    display: inline-block;
    background: #29332b88;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    backdrop-filter: contrast(1.5);
    @media(min-width: 1024px) {
      display: none;
    }
  }
}

.sidecover.active {
  z-index: 1002;
  transform: translate(0);
  opacity: 1;
  backdrop-filter: blur(12px);
  pointer-events: auto;
  
}
