.sidecover {
  position: fixed;
  height: calc(var(--vh) * 100);
  width: calc(100% - 300px);
  top: 0;
  transform: translateX(-100px);
  @media(min-width: 768px) {
    transform: translateX(-200px);
  }
  left: 0;
  background-color: $color-1-90;
  opacity: 0;
  z-index: 0;
}

.sidecover.active {
  z-index: 1001;
  transform: translate(0);
  opacity: 1;
  backdrop-filter: blur(12px);
}
