<p>Salut <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Te contactăm ca să te anunțăm că emailul tău se schimbă în <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Te contactăm ca să te anunțăm că emailul tău s-a schimbat în <%= @resource.email %>.</p>
<% end %>
