<p>Salut <%= @resource.email %>!</p>

<p>S-a făcut o cerere de schimbare a parolei. Dacă tu ai făcut-o, accesează linkul:</p>

<p><%= link_to 'Schimbă parola', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Dacă e o eroare/abuz, ignoră acest mesaj.</p>
<p>Parola nu va suferi niciun fel de modificare, dacă tu nu accesezi linkul.</p>
