<p>Salut <%= @resource.email %>!</p>

<p>Ți-am blocat contul din cauza a numeroase încercări de conectare nereușite.</p>

<p>Apasă pe linkul de mai jos pentru deblocare:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
