<div class="medical-team">
  <%= render partial: 'errors/search_when_error' %>
  <% @members.each do |m| %>
    <%= render partial: "members/modern_member_card", locals: {m: m} %>
  <% end %>
</div>

